@import url('root.css');
html, body {
    background: var(--focused-colour);
    color: var(--text-colour);
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
}
nav {
    -webkit-app-region: drag;
    background: var(--background-colour);
    height: 40px;
    display: block;
    user-select: none;
    width: calc(100% - 123px);
    font-family: var(--default-font);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0px;
}
nav::-webkit-scrollbar { height: 5px; }
nav > .tab {
    -webkit-app-region: no-drag;
    background: var(--background-colour);
    border-right: 2px solid var(--focused-colour);
    display: inline-block;
    height: 30px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 22px;
    margin-right: 5px;
}nav > .tab:hover { background: var(--focused-colour); }
nav > .tab.focused {
    cursor: default;
    background: var(--focused-colour);
}
main {
    flex-grow: 1;
    overflow-y: auto;
}
main > content {
    display: none;
    height: 100%;
}
main > content.focused {
    display: block;
}
div.section {
    border-top: 2px solid var(--lining-colour);
    margin-bottom: 5px;
}
div.section > b {
    background: var(--lining-colour);
    border: 1px solid var(--lining-colour);
    border-right: 20px solid var(--lining-colour);
    border-bottom: 20px solid var(--lining-colour);
    border-bottom-right-radius: 100%;
    font-size: 20px;
}
div.section > div {
    margin: 5px;
}
iframe {
    width: 100%;
    height: calc(100% - 4px);
    border: none;
}
.cydli-title {
    font-size: 50px;
    text-align: center;
}